.about-body {
    background-image: url('./images/pattern-background.png');
    background-size: cover;
    background-color: white;
}

.about {
    display: flex;
    width: 100%;
    align-items: center;
}

.about-img {
    width: 40vw;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgb(153, 152, 152);
}

.about-img, .about {
    margin: 3em;
}

.about > p {
    color: rgb(109, 105, 105);
    font-size: clamp(10px, 3vw, 1rem);
    margin-left: 100px;
}

.tdthermal-about {
    border-bottom: 2.5px solid red;
    text-decoration: underline;
    text-decoration-color: orangered;
}