/* * {
    border: 1px solid;
} */

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

html {
    font-family: 'Roboto Slab';
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    
}

.splash-logo {
    background-color: whitesmoke;
    margin: 0;
    width: 70%;
    height: 100%;
    display: grid;
    place-items: center;
}

.splash-menu {
    background-image: url('./images/pipes-background.png');
    background-size: cover;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: -10px 0px 10px rgba(29, 29, 29, 0.63);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@keyframes enterRight {
    0%{transform: translateX(500px);}
    100%{transform: translateX(0px);}
}

@keyframes moveBG {
    to{color: #C46C39}
}

.splash-logo > img {
    width: 70%;
    animation: fadeIn ease-in 2.0s;
}

.splash-menu > ul {
    width: 80%;
    font-size: clamp(10px, 3vw, 2rem);
    font-weight: bold;
    line-height: 3em;
    letter-spacing: 2px;
    list-style: none;
    animation: enterRight ease 2s;
    color: rgb(214, 212, 212);
}


nav li:hover {
    animation: moveBG 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

a {
    text-decoration: none;
    color: inherit; 
}

.bold {
    font-weight: bold;
    color: black;
    font-size: 25px;
}